{% extends "base.html" %}

{% block content %}
{% include "menu.html" %}
    <div class="container pt-3">
      <div class="row">
        <div class="col-4 border pt-2 rounded">
          <div class="card">
            <div class="card-header card-header-skills-color text-white">Recherche</div>
            <div class="card-body">
              <form action="/skills" method="get">
                <div>
                  <label for="inputLastName" class="form-label">Nom</label>
                </div>
                <div class="mb-3 col-auto">
                  {%if lastName %}
                  <input type="text" id="lastName" name="lastName" value="{{lastName}}">
                  {% else %}
                  <input type="text" id="lastName" name="lastName">
                  {% endif %}
                </div>
                <div>
                  <label for="inputFirstName" class="form-label">Prénom</label>
                </div>
                <div class="mb-3 col-auto">
                  {%if lastName %}
                    <input type="text" id="firstName" name="firstName" value="{{firstName}}">
                  {% else %}
                    <input type="text" id="firstName" name="firstName">
                  {% endif %}
                </div>
                <div>
                  <label for="inputId" class="form-label">Numéro Coopérateur</label>
                </div>
                <div class="mb-3 col-auto">
                  {%if appId %}
                    <input type="text" id="appId" name="appId" value="{{appId}}">
                  {% else %}
                    <input type="text" id="appId" name="appId">
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-primary"><span class="fa-solid fa-magnifying-glass"></span></button>
                <div class="btn btn-warning" onclick="erase()"><span class="fa-solid fa-eraser"></span></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-7 ms-2 pt-2 border rounded" style="min-height: 500px">
          {% if message %}<div class="alert alert-danger">{{ message }}</div>{% endif %}
          {% for key, value in users_to_display.items() %}
          <div class="row align-items-center mb-2 ms-1 me-1 border rounded shadow bg-white user-container" id="{{value.user['id']}}">
            {%if value.user['enabled'] == True %}
            <div class="col-7 text-success text-start name">
            {% else %}
            <div class="col-7 text-danger text-start name">
            {% endif %}
              <b>{{ value.user['lastName'] }} {{ value.user['firstName'] }}</b></br>
              {% set attributes = value.user['attributes'] %}
              <i>{{ attributes.id[0] }}</i>
            </div>
            <div class="col-4 mt-2 mb-2 list" id="{{value.user['id']}}">
              <ul class="list-group">
                {% for group in groups %}
                  {% if group['name'] in value.user_groups|map(attribute="name") %}
                    <button class="list-group-item active bg-success" onclick="removeGroup(this)" data-group-id="{{group['id']}}" data-user-id="{{value.user['id']}}">
                      {{ group['name'] }}
                      <!--<button class="btn btn-danger btn-sm" onclick="removeGroup(this)" data-group-id="{{group['id']}}" data-user-id="{{value.user['id']}}">-</button>-->
                    </button>
                  {% else %}
                    <button class="list-group-item" onclick="addGroup(this)" data-group-id="{{group['id']}}" data-user-id="{{value.user['id']}}">
                      {{ group['name'] }} 
                      <!--<button class="btn btn-success btn-sm" onclick="addGroup(this)" data-group-id="{{group['id']}}" data-user-id="{{value.user['id']}}">+</button>-->
                    </button>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}